<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-10">
        <% if (flashSuccess) {%>
        <div class="alert alert-success alert-with-icon fade in" data-notify="container">
          <button type="button" aria-hidden="true" class="close" data-dismiss="alert">&times;</button>
          <span data-notify="icon" class="ti-bell"></span>
          <span data-notify="message"><%=flashSuccess%></span>
        </div>
        <%}%>
        <div class="card">
          <div class="header">
            <h4 class="title"><%=machineSettings.editSettings%></h4>
          </div>
          <div class="content">
            <form method="post" action="/dashboard/machine/update/">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label><%=machineSettings.machineName%></label>
                    <input type="text" class="form-control border-input" name="machineName" value="<%=machine.name%>">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label><%=machineSettings.machineType%></label>
                    <select name="machineType" class="form-control">
                      <% for (var i= 0; i< wizardPage.machines.length; i++) {%>
                      <% if (wizardPage.machines[i].type == machine.type) {%>
                      <option value="<%=machine.type%>" selected><%=machine.type%></option>
                      <%} else {%>
                      <option value="<%=wizardPage.machines[i].type%>"><%=wizardPage.machines[i].type%></option>
                      <%}%>
                      <%}%>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label><%=machineSettings.machineVendor%></label>
                    <select name="machineVendor" class="form-control">
                      <% for (var i= 0; i< wizardPage.vendors.length; i++) {%>
                      <% if (wizardPage.vendors[i] == machine.vendor) {%>
                      <option value="<%=machine.vendor%>" selected><%=machine.vendor%></option>
                      <%} else {%>
                      <option value="<%=wizardPage.vendors[i]%>"><%=wizardPage.vendors[i]%></option>
                      <%}%>
                      <%}%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label><%=machineSettings.machineThreshCurr%></label>
                    <div class="input-group">
                      <input type="number" name="machineThreshCurr" value="<%=machine.threshCurr%>" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label><%=machineSettings.machineSampleTime%></label>
                    <div class="input-group">
                      <input type="number" name="machineSampleTime" value="<%=machine.sampleTime%>" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label><%=machineSettings.machineDutyCycle%></label>
                    <div class="input-group">
                      <input type="number" name="machineDutyCycle" value="<%=machine.dutyCycle%>" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label><%=machineSettings.adcVendor%></label>
                    <select name="adcVendor" class="form-control">
                      <% for (var i= 0; i< wizardPage.samplingDevices.length; i++) {%>
                      <% if (wizardPage.samplingDevices[i].vendor == machine.adcVendor) {%>
                      <option value="<%=machine.adcVendor%>" selected><%=machine.adcVendor%></option>
                      <%} else {%>
                      <option value="<%=wizardPage.samplingDevices[i].vendor%>"><%=wizardPage.samplingDevices[i].vendor%></option>
                      <%}%>
                      <%}%>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label><%=machineSettings.adcDevice%></label>
                    <select name="adcDevice" class="form-control">
                      <% for (var i= 0; i< wizardPage.samplingDevices.length; i++) {%>
                      <% if (wizardPage.samplingDevices[i].vendor == machine.adcVendor) {%>
                      <% for (var j=0; j<wizardPage.samplingDevices[i].deviceList.length; j++) {%>
                      <% if (wizardPage.samplingDevices[i].deviceList[j] == machine.adcDevice) {%>
                      <option value="<%=machine.adcDevice%>" selected><%=machine.adcDevice%></option>
                      <%} else {%>
                      <option value="<%=wizardPage.samplingDevices[i].deviceList[j]%>"><%=wizardPage.samplingDevices[i].deviceList[j]%></option>
                      <%}%>
                      <%}%>
                      <% break %>
                      <%}%>
                      <%}%>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <div class="form-group">
                    <label><%=machineSettings.deviceUri%></label>
                    <select id="deviceUri" name="deviceUri" class="form-control">
                      <option value="<%=machine.deviceUri%>">
                        <%=machine.deviceUri%>
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2" style="padding-bottom: 3px;padding-top: 2em;">
                  <button type="button" class="btn btn-info btn-fill btn-wd" onclick="loadMachines()"><%=machineSettings.refresh%></button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <div class="text-center">
                      <button type="submit" class="btn btn-info btn-fill btn-wd"><%=machineSettings.updateSettings%></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>