<!doctype html>
<html lang="en">
  <head>
    <% include ./partials/header %>
    <% if (displayTerminal) {%>
      <% include ./partials/header-term %>
    <% } %>  
    <% if (displayLogs) {%>
      <% include ./partials/header-log %>
    <% } %>
  </head>
  <body>
    <div class="wrapper">
      <% include ./partials/sidebar %>
      <div class="main-panel">
        <% include ./partials/navigation %> 
        <% if (displayWelcome) {%>
          <div class="alert alert-success alert-with-icon fade in" data-notify="container">
            <button type="button" aria-hidden="true" class="close" data-dismiss="alert">&times;</button>
            <span data-notify="icon" class="ti-bell"></span>
            <span data-notify="message"><%=flashWelcome%></span>
          </div>
        <% } %>
        
        <% if (displayWizard) {%>
          <% include ./partials/wizard %>
        <% } %>
        
        <% if (displayTerminal) {%>
          <% if (errors) {%>
            <%errors.forEach(function(error) {%>
              <div class="alert alert-danger alert-with-icon fade in" data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert">&times;</button>
                <span data-notify="icon" class="ti-bell"></span>
                <span data-notify="message"><%=error.msg%></span>
              </div>
            <%});%>  
          <%}%>
          <% include ./partials/nterm %>
        <%}%> 
        
        <% if (displayProfile){%>
          <% if (errors) {%>
            <%errors.forEach(function(error) {%>
              <div class="alert alert-danger alert-with-icon fade in" data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert">&times;</button>
                <span data-notify="icon" class="ti-bell"></span>
                <span data-notify="message"><%=error.msg%></span>
              </div>
            <%});%>  
          <%}%>   
          <% include ./partials/profile %>
        <%}%>
        
        <% if (displaySettings){%> 
          <% if (errors) {%>
            <%errors.forEach(function(error) {%>
              <div class="alert alert-danger alert-with-icon fade in" data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert">&times;</button>
                <span data-notify="icon" class="ti-bell"></span>
                <span data-notify="message"><%=error.msg%></span>
              </div>
            <%});%>  
          <%}%> 
          <% include ./partials/settings %>
        <%}%>
        
        <% if (displayLogs) {%>
          <% include ./partials/logger %>
        <%}%>
        
        <% if (displayJobsTable) {%>
          <% include ./partials/jobs-table %>
        <%}%>

        <% if (displayMonitor) { %>
          <% include ./partials/monitor-panel %>
        <% } %>

        <% if (displayControl) {%>
          <% if (errors) {%>
            <%errors.forEach(function(error) {%>
              <div class="alert alert-danger alert-with-icon fade in" data-notify="container">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert">&times;</button>
                <span data-notify="icon" class="ti-bell"></span>
                <span data-notify="message"><%=error.msg%></span>
              </div>
            <%});%>  
          <%}%>
          <% if (uploadSuccess) {%>
            <div class="alert alert-success alert-with-icon fade in" data-notify="container">
              <button type="button" aria-hidden="true" class="close" data-dismiss="alert">&times;</button>
              <span data-notify="icon" class="ti-bell"></span>
              <span data-notify="message"><%=flashUpload%></span>
            </div>
          <%}%>
          <% if (machine.type == 'Laser cutter') {%>     
            <% if (machine.vendor == 'Epilog') {%>    
              <% include ./partials/machines/laser-cutters/epilog %>
            <% } %>
            <% if (machine.vendor == 'Trotec') {%>    
              <% include ./partials/machines/laser-cutters/trotec %>
            <% } %>
            <% if (machine.vendor == 'GCC') {%>    
              <% include ./partials/machines/laser-cutters/gcc %>
            <% } %>
          <% } %>
          <% if (machine.type == 'Vinyl cutter') {%>     
            <% if (machine.vendor == 'Roland') {%>    
              <% include ./partials/machines/vinyl-cutters/roland %>
            <% } %>
          <% } %>
          <% if (machine.type == 'Milling machine') {%>     
            <% if (machine.vendor == 'Roland') {%>    
              <% include ./partials/machines/milling-machines/roland %>
            <% } %>
          <% } %>
          <% if (machine.type == '3D printer') {%>
	    <% if (machine.vendor == 'Prusa') { %>
	      <% include ./partials/machines/3d-printers/prusa %>
            <% } %>
          <% } %>
        <% } %>
        <% include ./partials/footer %>
      </div>
      <!-- end main panel-->
    </div>
    <!-- end wrapper-->
  </body>
  <% include ./partials/scripts %>
  <% if (displayTerminal) {%>
  <% include ./partials/scripts-term %>
  <%}%>
  <% if (displayLogs) {%>
  <% include ./partials/scripts-log %>
  <%}%>
  <% if (displayControl) {%>
  <% include ./partials/scripts-machines %>
  <%}%>
  <% if (displayMonitor) {%>
  <% include ./partials/scripts-monitor %>
  <%}%>
</html>
