<div class="row">
  <div class="col-md-12">
    <fieldset>
      <legend><%= laserPanel.epilog.cut.title %></legend>
      <div class="form-group">
        <label class="col-sm-2 control-label"><%= laserPanel.epilog.cut.diameter %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="diameter" placeholder="0.25" value="0.25" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label"><%= (laserPanel.epilog.cut.offsets) %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="offsets" placeholder="1" value="1" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label"><%= laserPanel.epilog.cut.overlap %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="overlap" placeholder="50" value="50" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label"><%= laserPanel.epilog.cut.error %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="error" placeholder="1.5" value="1.5" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label"><%= laserPanel.epilog.cut.threshold %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="threshold" placeholder="0.5" value="0.5" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label"><%= laserPanel.epilog.cut.merge %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="merge" placeholder="1.1" value="1.1" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label"><%= laserPanel.epilog.cut.order %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="order" placeholder="-1" value="-1" class="form-control">
          </div>
        </div>
        <label class="col-sm-2 control-label"><%= laserPanel.epilog.cut.sequence %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="sequence" placeholder="-1" value="-1" class="form-control">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
