               <div class="row">								
		  <div class="col-md-3">
	             <legend><%= laserPanel.epilog.switches.title %></legend>
		     <div class="col-md-6">
			<p class="category"><%= laserPanel.epilog.switches.autofocus %></p>
	                <div class="switch" data-on-label="<i class='fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
			   <input type="checkbox" name="switchAutofocus" checked />
			</div>
			<p class="category"><%= laserPanel.epilog.switches.sort %></p>
			<div class="switch" data-on-label="<i class='fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
		           <input type="checkbox" name="switchSort"checked />
			</div>
                        <div id="switch-div" style="display: none;">  
			<p class="category"><%= laserPanel.epilog.switches.fill %></p>
			<div class="switch" data-on-label="<i class='fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
		           <input type="checkbox" name="switchFill"checked />
			</div>
                        </div>
	             </div>
		  </div>
		  <div class="col-md-4">
		     <legend><%= laserPanel.epilog.position.title %></legend>
		     <div class="row">
		        <fieldset>
			   <div class="form-group">
			      <div class="col-sm-6">
			         <div class="row">
			            <label class="col-sm-2 control-label">X:</label>
				    <div class="col-sm-8">
				       <input type="number" step=1 name="xCoord" placeholder="50" value="50" class="form-control">
				    </div>
				  </div>
				  <br />
				  <div class="row">
				  <label class="col-sm-2 control-label">Y:</label>
			          <div class="col-sm-8">
			             <input type="number" step=1 name="yCoord" placeholder="50" value="50" class="form-control">
				  </div>
			       </div>
			    </div>
			    <div class="col-sm-6">
			       <label class="radio">
			          <input type="radio" data-toggle="radio" name="origin" value="<%= laserPanel.epilog.position.topleft %>" checked> <%= laserPanel.epilog.position.topleft %>
			       </label>
			       <label class="radio">
			          <input type="radio" data-toggle="radio" name="origin" value="<%= laserPanel.epilog.position.topleft %>"> <%= laserPanel.epilog.position.topright %>
			       </label>
			       <label class="radio">
			          <input type="radio" data-toggle="radio" name="origin" value="<%= laserPanel.epilog.position.topleft %>"> <%= laserPanel.epilog.position.bottomleft %>
			       </label>
			       <label class="radio">
			          <input type="radio" data-toggle="radio" name="origin" value="<%= laserPanel.epilog.position.topleft %>"> <%= laserPanel.epilog.position.bottomright %>
			       </label>
			    </div>
			 </div>
	              </fieldset>
		   </div>
		</div>
		<div class="col-md-4 col-md-offset-1">
		   <legend><%= laserPanel.epilog.select.process.title %></legend>
	           <div class="row">
	              <fieldset>
		         <div class="form-group">
			    <div class="col-sm-12">
		               <select id="processes-othermill" name="process" class="selectpicker" data-title="Process" data-style="btn-danger btn-block" data-menu-style="dropdown-blue" onchange="showSwitchEpilog(this)">
			          <option value="cut"><%= laserPanel.epilog.select.process.cut %></option>
			          <option value="halftone"><%= laserPanel.epilog.select.process.halftone %></option>
			       </select>
			    </div>
			 </div>
	              </fieldset>			
		   </div>
                   <br />
		   <h4 class="title"><%= laserPanel.epilog.select.material.title %></h4>	 
                   <div class="row">
	              <fieldset>
		         <div class="form-group">
			    <div class="col-sm-12">
		               <select name="material" class="selectpicker" data-title="Material" data-style="btn-danger btn-block" data-menu-style="dropdown-blue">
			          <option value="cardboard"><%= laserPanel.epilog.select.material.cardboard %></option>
			          <option value="acrylic"><%= laserPanel.epilog.select.material.acrylic %></option>
				  <option value="wood"><%= laserPanel.epilog.select.material.wood %></option>
				  <option value="mylar"><%= laserPanel.epilog.select.material.mylar %></option>
			       </select>
			    </div>
			 </div>
		      </fieldset>			
	           </div>
                   <br />
		</div>
             </div>
