<!--
  author:             Gianluca Cornetta
  -------------------------------------

  created:            20160301 08:00 am

-->
<li>
  <a href="<%=machinePanelRoute %>">
    <i class="ti-view-grid"></i>
    <p><%=sideBar.machine%></p>
  </a>
</li>
<li>
  <a href="/dashboard/jobs">
    <i class="ti-view-list-alt"></i>
    <p><%=sideBar.jobs%></p>
  </a>
</li>
<li>
  <a data-toggle="collapse" href="#tablesExamples">
    <i class="ti-hummer"></i>
    <p><%=sideBar.tools.title%>
      <b class="caret"></b>
    </p>
  </a>
  <div class="collapse" id="tablesExamples">
    <ul class="nav">
      <li><a href="/dashboard/monitor"><%=sideBar.tools.sysMonit%></a></li>
      <li><a href="/dashboard/logs"><%=sideBar.tools.sysLog%></a></li>
    </ul>
  </div>
</li>
