<div class="row">
  <div class="col-md-12">
    <legend><%= millingPanel.roland.cut.title %></legend>
    <fieldset id="fieldset">
    <div id="directionRadios" class="col-sm-5">
              <label class="control-label"><%= millingPanel.roland.cut.direction %></label>
              <label class="radio">
                <span class="icons"><span class="first-icon fa fa-circle-o"></span><span class="second-icon fa fa-dot-circle-o"></span></span>
                <input type="radio" data-toggle="radio" name="direction" value="conventional"><%= millingPanel.roland.cut.conventional %>
              </label>
              <label class="radio checked">
                <span class="icons"><span class="first-icon fa fa-circle-o"></span><span class="second-icon fa fa-dot-circle-o"></span></span>
                <input type="radio" data-toggle="radio" name="direction" value="climb" checked><%= millingPanel.roland.cut.climb %>
              </label>
            </div>
      <div id="traces_1_64" class="form-group">
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.cutDepth %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="cutDepth" placeholder="0.1" value="0.1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.diameter %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="diameter" placeholder="0.4" value="0.4" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.offsets %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="offsets" placeholder="4" value="4" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.overlap %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="overlap" placeholder="50" value="50" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.error %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="error" placeholder="1.1" value="1.1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.threshold %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="threshold" placeholder="0.5" value="0.5" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.merge %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="merge" placeholder="1.5" value="1.5" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.order %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="order" placeholder="-1" value="-1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.sequence %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="sequence" placeholder="-1" value="-1" class="form-control">
          </div>
        </div>
      </div>

      <div id="outline_1_32" class="form-group">
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.cutDepth %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="cutDepth" placeholder="0.6" value="0.6" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.thickness %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="thickness" placeholder="1.7" value="1.7" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.diameter %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="diameter" placeholder="0.80" value="0.80" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.offsets %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="offsets" placeholder="1" value="1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.overlap %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="overlap" placeholder="50" value="50" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.error %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="error" placeholder="1.1" value="1.1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.threshold %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="threshold" placeholder="0.5" value="0.5" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.merge %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="merge" placeholder="1.5" value="1.5" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.order %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="order" placeholder="-1" value="-1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.sequence %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="sequence" placeholder="-1" value="-1" class="form-control">
          </div>
        </div>
      </div>

      <div id="traces_0_010" class="form-group">
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.cutDepth %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="cutDepth" placeholder="0.1" value="0.1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.diameter %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="diameter" placeholder="0.254" value="0.254" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.offsets %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="offsets" placeholder="1" value="1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.overlap %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="overlap" placeholder="50" value="50" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.error %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="error" placeholder="1.1" value="1.1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.threshold %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="threshold" placeholder="0.5" value="0.5" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.merge %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="merge" placeholder="1.5" value="1.5" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 col-sm-offset-1 control-label"><%= millingPanel.roland.cut.order %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="order" placeholder="-1" value="-1" class="form-control">
          </div>
        </div>
        <label class="col-sm-3 control-label"><%= millingPanel.roland.cut.sequence %></label>
        <div class="col-sm-2">
          <div class="input-group">
            <input type="number" step=0.05 name="sequence" placeholder="-1" value="-1" class="form-control">
          </div>
        </div>
      </div>

    </fieldset>
  </div>
</div>
