               <div class="row">								
		  <div class="col-md-3">
	             <legend><%= vinylPanel.roland.switches.title %></legend>
		     <div class="col-md-6">
			<p class="category"><%= vinylPanel.roland.switches.sort %></p>
			<div class="switch" data-on-label="<i class='fa fa-check'></i>" data-off-label="<i class='fa fa-times'></i>">
		           <input type="checkbox" name="switchSort"checked />
			</div>
	             </div>
		  </div>
		  <div class="col-md-4">
		     <legend><%= vinylPanel.roland.position.title %></legend>
		     <div class="row">
		        <fieldset>
			   <div class="form-group">
			      <div class="col-sm-6">
			         <div class="row">
			            <label class="col-sm-2 control-label">X:</label>
				    <div class="col-sm-8">
				       <input type="text" name="xCoord" placeholder="50" value="50" class="form-control">
				    </div>
				  </div>
				  <br />
				  <div class="row">
				  <label class="col-sm-2 control-label">Y:</label>
			          <div class="col-sm-8">
			             <input type="text" name="yCoord" placeholder="50" value="50" class="form-control">
				  </div>
			       </div>
			    </div>
			    <div class="col-sm-6">
			       <label class="radio">
			          <input type="radio" data-toggle="radio" name="origin" value="<%= vinylPanel.roland.position.topleft %>" checked> <%= vinylPanel.roland.position.topleft %>
			       </label>
			       <label class="radio">
			          <input type="radio" data-toggle="radio" name="origin" value="<%= vinylPanel.roland.position.topleft %>"> <%= vinylPanel.roland.position.topright %>
			       </label>
			       <label class="radio">
			          <input type="radio" data-toggle="radio" name="origin" value="<%= vinylPanel.roland.position.topleft %>"> <%= vinylPanel.roland.position.bottomleft %>
			       </label>
			       <label class="radio">
			          <input type="radio" data-toggle="radio" name="origin" value="<%= vinylPanel.roland.position.topleft %>"> <%= vinylPanel.roland.position.bottomright %>
			       </label>
			    </div>
			 </div>
	              </fieldset>
		   </div>
		</div>
		<div class="col-md-4 col-md-offset-1">
		   <legend><%= vinylPanel.roland.select.material.title %></legend>	 
                   <div class="row">
	              <fieldset>
		         <div class="form-group">
			    <div class="col-sm-12">
		               <select id="materials-roland" name="material" class="selectpicker" data-title="Material" data-style="btn-danger btn-block" data-menu-style="dropdown-blue">
			          <option value="vinyl"><%= vinylPanel.roland.select.material.vinyl %></option>
			          <option value="epoxy"><%= vinylPanel.roland.select.material.epoxy %></option>
				  <option value="copper"><%= vinylPanel.roland.select.material.copper %></option>
			       </select>
			    </div>
			 </div>
		      </fieldset>			
	           </div>
                   <br />
		</div>
             </div>
