	        <div class="row">
		   <div class="col-md-12">
	              <fieldset>
		         <legend><%= laserPanel.trotec.cut.title %></legend>
			 <div class="form-group">
			    <label class="col-sm-2 control-label"><%= laserPanel.trotec.cut.diameter %></label>
		            <div class="col-sm-2">
			       <div class="input-group">
			          <input type="text" name="diameter" placeholder="0.25" value="0.25" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-2 control-label"><%= laserPanel.trotec.cut.offsets %></label>
		            <div class="col-sm-2">
		               <div class="input-group">
			          <input type="text" name="offsets" placeholder="1" value="1" class="form-control">
			       </div>
			    </div>
		            <label class="col-sm-2 control-label"><%= laserPanel.trotec.cut.overlap %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
			          <input type="text" name="overlap" placeholder="50" value="50" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-2 control-label"><%= laserPanel.trotec.cut.error %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
			          <input type="text" name="error" placeholder="1.5" value="1.5" class="form-control">
			       </div>
			    </div>
		            <label class="col-sm-2 control-label"><%= laserPanel.trotec.cut.threshold %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
				  <input type="text" name="threshold" placeholder="0.5" value="0.5" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-2 control-label"><%= laserPanel.trotec.cut.merge %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
				  <input type="text" name="merge" placeholder="1.1" value="1.1" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-2 control-label"><%= laserPanel.trotec.cut.order %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
			          <input type="text" name="order" placeholder="-1" value="-1" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-2 control-label"><%= laserPanel.trotec.cut.sequence %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
			          <input type="text" name="sequence" placeholder="-1" value="-1" class="form-control">
			       </div>
			    </div>
			 </div>
	              </fieldset>
		   </div>
		</div>