       <div class="row">
   		   <div class="col-md-12">
                   <legend><%= laserPanel.trotec.cut.title %></legend>
	              <fieldset>
			 <div class="form-group">
			    <label class="col-sm-3 control-label"><%= laserPanel.trotec.halftone.diameter %></label>
		            <div class="col-sm-2">
			       <div class="input-group">
			          <input type="number" step=0.05 name="diameter" placeholder="0" value="0" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-3 col-sm-offset-1 control-label"><%= laserPanel.trotec.halftone.spotSize %></label>
		            <div class="col-sm-2">
		               <div class="input-group">
			          <input type="number" step=0.05 name="spotSize" placeholder="2" value="2" class="form-control">
			       </div>
			    </div>
		            <label class="col-sm-3 control-label"><%= laserPanel.trotec.halftone.minSpotsize %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
			          <input type="number" step=0.05 name="minSpotsize" placeholder="25" value="25" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-3 col-sm-offset-1 control-label"><%= laserPanel.trotec.halftone.horSpotspace %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
			          <input type="number" step=0.05 name="horSpotspace" placeholder="25" value="25" class="form-control">
			       </div>
			    </div>
		            <label class="col-sm-3 control-label"><%= laserPanel.trotec.halftone.verSpotspace %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
				  <input type="number" step=0.05 name="verSpotspace" placeholder="25" value="25" class="form-control">
			       </div>
			    </div>
			    <label class="col-sm-3 col-sm-offset-1 control-label"><%= laserPanel.trotec.halftone.pointSpot %></label>
			    <div class="col-sm-2">
			       <div class="input-group">
				  <input type="number" step=0.05 name="pointSpot" placeholder="4" value="4" class="form-control">
			       </div>
			    </div>
	              </fieldset>
		   </div>
		</div>